body{
    background-image: url(../images/backpic.jpg);
}

#headings{
    color: white;
    text-align: center;
    margin: 100px;

}
.contacts{
    padding: 20px;

}
#number{
    color: rgb(160, 204, 49);
}