body{
    background-color: rgb(69, 153, 98);
    background-image: url("../images/backpic.jpg");    
}

#heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.container{
 height: 260px;
 border: 2px solid black;
 width: 300px;
 margin: 120px 0px 100px 38%;
 padding: 40px;
 border-radius: 30px;
 background-color: rgb(163, 179, 106);
 color: rgb(0, 0, 0);
  
}
#username{
    font-size: large;
    height: 40px;
    margin: 0px 0px 40px 20px ;
}

#password{
    font-size: large;
    height: 40px;
    margin: 0px 0px 40px 20px ;
}
.labels{
    font-size: 20px;
    margin-left: 20px;
    
}
#login_button{
    font-size: large;
    margin-left: 100px;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background-color: green;
    color: white;
}



