body{
    background-color: rgb(230, 148, 148);
    background-image: url("../images/backpic.jpg");    
     background-size: cover;
    background-repeat: no-repeat;
}

#hello{
    color: white;
    margin-top: 150px ;
    margin-left: 100px;
    padding: 30px;
    font-size: 50px;
    width: 350px;
}
#name_content{
    color: rgb(227, 92, 206);
    padding-top: px;
    margin-left: 250px;
    font-size: 60px;
     width: 500px;  
}
#name_tag{
    margin-right: 200px;
    margin-left: 150px;
    font-style: oblique;
}
#skills{
    color: rgb(186, 220, 85);
    font-size: 30px;
    margin-left: 240px;
    margin-top: 40px;
    width: 550px;
    font-style:normal ;
}
.my_image{
    border: 2px solid white;
    border-radius: 200px;
    margin-top: 70px;
    height: 400px;
    width: 400px;   
}
#my_image{
    border: 2px solid white;
    border-radius: 200px;
     height: 400px;
    width: 400px; 

}
#main_container{
    width: 80%;
    display: flex;
    justify-content: center;
}
/* 
#main_heading{
    text-align: center;
    font-size: 50px;
}
.name{
    color: rgba(70, 16, 231, 0.483);
    font-size: 60px;
}
#main_container{
    height: 650px;
    width: 500px;
    border: 5px solid #000000;
    margin:10px 10px 10px 500px;
    
}
#heading{
    text-align: center;
    font-size: 40px;
    color: rgb(185, 53, 88);    
}

#profile_pic{
    height: 300px;
    width: 300px;
    margin: 40px 40px 10px 100px ;
    border-radius: 200px;
    border: 5px solid rgb(0, 0, 0);
}
 */
